<table class="table table-striped table-bordered table-hover" id="dimensionTable">
  <tr>
    <th>Dimensions</th>
    <th>Amount</th>
  </tr>

<% dimensions.each do |dimension| %>
  <tr>
  	<% if dimension[0][1].to_s.length > 60 %>
    	<td class="dimension" title="<%= dimension[0][1].to_s.gsub("\n"," ") %>"><%= dimension[0][0] %> <%= dimension[0][1][0, 60] %>...</td>
    <% else %>
    	<td class="dimension"><%= dimension[0][0] %> <%= dimension[0][1] %></td>
    <% end %>
    <td><%= dimension[1] %></td>
  </tr>
<% end %>
</table>

<br />


