<h1>Listing commits</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Repository</th>
    <!--<th>Commit</th>-->
    <th>Branch</th>
    <th>Message</th>
    <th>Compare url</th>
    <th>Committed at</th>
    <th>Author name</th>
    <th></th>
    <!--<th></th>
    <th></th>-->
  </tr>

<% @commits.each do |commit| %>
  <tr>
    <td><%= commit.repository_id %></td>
    <!--<td><%= commit.commit %></td>-->
    <td><%= commit.branch %></td>
    <td><%= commit.message %></td>
    <td><%= commit.compare_url %></td>
    <td><%= commit.committed_at %></td>
    <td><%= commit.author_name %></td>
    <td><%= link_to 'Show', commit %></td>
    <!--<td><%= link_to 'Edit', edit_commit_path(commit) %></td>
    <td><%= link_to 'Destroy', commit, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @commits %>
