<table class="table table-striped table-bordered table-hover">
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Url</th>
    <th>Owner name</th>
    <th>Details</th>
</tr>

<% repositories.each do |repository| %>
  <tr class="curRepo">   
  	<td><%= repository.id %></td>
    <td><%= repository.name %></td>
    <td><%= repository.url %></td>
    <td><%= repository.owner_name %></td>
    <td><%= link_to "Show", show_repository_path(:username => repository.owner_name, :repository_id => repository.id, :ui => "1" )%></td>
  </tr>
<% end %>
</table>

<br />
