<h1>Repository details for user <%= @repository.owner_name %> </h1>

<p>
  <b>Id:</b>
  <%= @repository.id %>
</p>

<p>
  <b>Name:</b>
  <%= @repository.name %>
</p>

<p>
  <b>Url:</b>
  <%= @repository.url %>
</p> 


<div id="container">


<%= javascript_tag do %>
 $(document).ready(function(){

 	columnSplineChart(<%=raw @draw %>, "container", "Time", "Result in %", "build", "Comparison of succeeded and failed builds", "based on their result");

});
<%end%>
</div>

