
<h1>Listing repositories</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Url</th>
    <th>Owner name</th>
    <th>Last build</th>
    <th>Last build number</th>
    <th>Last build status</th>
    <!-- <th>Last build result</th> -->
    <th>Show</th>
    <th>Show</th>
    <!--  <th></th> -->
    <!-- <th></th> -->
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.id %></td>
    <td><%= repository.name %></td>
    <td><%= repository.url %></td>
    <td><%= repository.owner_name %></td>
    <td><%= repository.last_build_id %></td>
    <td><%= repository.last_build_number %></td>
    <!-- <td><%= repository.last_build_status %></td> -->
    <td><%= link_to 'Repository', repository %></td>
    <td><%= link_to 'Last Builds', findRepos_path(repository.id) %></td>

    <!--  <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
    <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @repositories %>
