<h1>Listing builds</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Repository</th>
    <th>Number</th>
    <th>Status</th>
    <th>Config</th>
    <th>Commit</th>
    <th>Request</th>
    <th>State</th>
    <th>Finished</th>
    <th>Owner</th>
    <th>Result</th>
    <th>Previous result</th>
    <th>Show jobs</th>
    <th></th>
    <!-- <th></th>
    <th></th> -->
  </tr>

<% @builds.each do |build| %>
  <tr>
    <td><%= build.id %></td>
    <td><%= build.repository_id %></td>
    <td><%= build.number %></td>
    <td><%= build.status %></td>
    <td><%= build.config %></td>
    <td><%= link_to build.commit_id, showBelongingCommit_path(build.commit_id) %></td>
    <td><%= build.request_id %></td>
    <td><%= build.state %></td>
    <td><%= build.finished_at %></td>
    <td><%= build.owner_id %></td>
    <td><%= build.result %></td>
    <td><%= build.previous_result %></td>
     <td><%= link_to 'Jobs', listJobs_path(build) %></td>
    <td><%= link_to 'Show', build %></td>
    <!--<td><%= link_to 'Edit', edit_build_path(build) %></td>
    <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @builds %>

<%= render 'builds/resultDurationLegend' %>
<%= render 'builds/barResult' %>

