<p>
  <b>Id:</b>
  <%= @build.id %>
</p>

<p>
  <b>Repository:</b>
  <%= @build.repository_id %>
</p>

<p>
  <b>Number:</b>
  <%= @build.number %>
</p>

<p>
  <b>Finished at:</b>
  <%= @build.finished_at %>
</p>

<p>
  <b>Language:</b>
  <%= @build.language %>
</p>

<p>
  <b>Duration:</b>
  <%= @build.duration %>
</p>

<p>
  <b>Result:</b>
  <%= @build.result %>
</p>
