<h1>Listing events</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Source</th>
    <th>Source type</th>
    <th>Repository</th>
    <th>Event</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <% @events.each do |event| %> 
  <tr>
    <td><%= event.id %></td>
    <td><%= event.source_id %></td>
    <td><%= event.source_type %></td>
    <td><%= event.repository_id %></td>
    <td><%= event.event %></td>
    <td><%= event.data %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
