<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @event.id %>
</p>

<p>
  <b>Source:</b>
  <%= @event.source_id %>
</p>

<p>
  <b>Source type:</b>
  <%= @event.source_type %>
</p>

<p>
  <b>Repository:</b>
  <%= @event.repository_id %>
</p>

<p>
  <b>Event:</b>
  <%= @event.event %>
</p>

<p>
  <b>Data:</b>
  <%= @event.data %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
