
<h1>All jobs for languages <%= @languages.join(', ') %></h1>
<table class="table table-striped table-bordered table-hover">
   <tr>
   	<td>Language</td>
 	<td>Success</td>
 	<td>Fail</td>
 	<td>Total</td>
 	<td>Success Percentage</td>
  </tr>

<% @stats['languageStats'].each do |stat| %>
  <tr>
    <td><%=  stat['language'] %></td>
 	<td><%=  stat['positiv'] %></td>
 	<td><%=  stat['negativ'] %></td>
 	<td><%=  stat['total'] %></td>
 	<td><%=  stat['percentage'] %></td>
  </tr>
<% end %>
</table>

<div id="container">


<%= javascript_tag do %>
 $(document).ready(function(){

 	lineChart(<%=raw @stats['draw'] %>, "container", "Time", "Success in %", "Job", "Comparison of succeeded jobs", "based on their language");


});
<%end%>
</div>
<br />
