<h1>Repositories for a specific user</h1>


<%= form_tag (url_for :controller => 'start', :action => "aboutUser", :username => ' '), :id => 'userForm', :onsubmit => "return false;" do %>
  <%= label_tag(:userName, "Search for User Name:", :class => "labelTag") %>
  <%= text_field_tag(:userName) %>
  <%= submit_tag("Search", :class => "submitBtn") %>
<% end %>



<div id="showUserDetails">
</div>

<script type="text/javascript">

var user = <%=raw VisualRepository.getUser %>;
$( "#userName" ).autocomplete({
  source: function(req, responseFn) {
        var re = $.ui.autocomplete.escapeRegex(req.term);
        var matcher = new RegExp( "^" + re, "i" );
        var a = $.grep( user, function(item,index){
            return matcher.test(item);
        });
        responseFn( a );
  },
  minLength: 0, //maybe >0 to perform faster --> many user names!
});

// pass formID, ID of div to display data and callback function to build route
submitFormViaAjax('userForm', 'showUserDetails', function(form){
	form.attr('action', '/user/'+$('#userName').val()+'/repositories');
});

</script>
