<!DOCTYPE html>
<html>
<head>
  <title>VisualStats</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'jquery-1.8.3.min.js', 'bootstrap.min.js' %>
  <%= javascript_include_tag 'bootstrap-carousel.js' %>
  <%= javascript_include_tag 'jquery-ui-1.10.0.custom.min' %>

  <%= javascript_include_tag 'jquery.form.js' %>
  <%= javascript_include_tag 'd3.v2.min.js' %>
  <%= javascript_include_tag 'highcharts.js' %>
  <%= javascript_include_tag 'ajaxFormHelper.js' %>
  <%= javascript_include_tag 'helpers.js' %>
  <%= javascript_include_tag 'chart.js' %>

  <%= stylesheet_link_tag    "jquery-ui-1.10.0.custom.min.css" %>
  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= stylesheet_link_tag    "z.css" %>

</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
    	<div class="container" style="width: auto;">
           <%= link_to 'VisualStats', welcomePage_path, :class => 'brand' %>

            <ul class="nav" role="navigation">
	            <li class="dropdown">
	             <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Travis <b class="caret"></b></a>
	              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	  				<li><%=link_to 'About', about_path %></li>
	  				<li class="divider"></li>
	                <li><%= link_to 'All Repositories', '/repositories/' %></li>
	 				<li><%= link_to 'All Builds', '/repositories/builds' %></li>
	 				<li><%=link_to 'All Jobs', '/repositories/builds/jobs' %></li>
	              </ul>
	            </li>

	            <li class="dropdown">
	              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
	              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2"> 
					<li><%= link_to 'Overview', overview_path %></li>
	              	<li class="divider"></li>
	              	<li><%= link_to 'Repositories', user_repositories_path %></li>
	              	<li><%= link_to 'Builds', user_builds_path %></li>
					<li><%= link_to 'Jobs', user_jobs_path %></li>
	              </ul>
	            </li>

	            <li id="fat-menu" class="dropdown">
	              <a href="#" id="drop4" role="button" class="dropdown-toggle" data-toggle="dropdown"> Language <b class="caret"></b></a>
	             <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	  				<li><%=link_to 'Overview', languages_overview_path %></li>
	                <li><%= link_to 'Compare', languages_compare_path %></li>
	                <li class="divider"></li>
	              	<li><%= link_to 'Builds', languages_builds_path %></li>
	              </ul>
	            </li>

				<li id="fat-menu" class="dropdown">
	              <a href="#" id="drop4" role="button" class="dropdown-toggle" data-toggle="dropdown"> Dimension <b class="caret"></b></a>
	             <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	  				<li><%=link_to 'Overview', dimensions_overview_path %></li>
	                <li><%= link_to 'Compare', dimensions_compare_path %></li>
	              </ul>
	            </li>
	        </ul>
        </div>
    </div>
</div>

<%= yield %>

</body>
</html>
